.row_poster{
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;

    &:hover{
        transform: scale(1.08);
    }

    &.large{
        max-height: 350px;
        padding: 15px;

        &:hover{
            transform: scale(1.1);
        }
    }

    &s{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 25px;
        scrollbar-width: none;

        &::-webkit-scrollbar{
            display: none;
        }
    }
}

.row{
    margin-left: 20px;
    color: #fff;
}